/target
/libs/lib
/libs/include
/libs/ort/include
/dist
/models
/python/onnxruntime_ggml/lib/*
!/python/onnxruntime_ggml/lib/.gitkeep
/python/dist
/python/build
*.onnx
*.wav
__pycache__/
.venv/
/plans/
.DS_Store
/INTERACTION.md
.env.local
